h1{
    text-align: center;
    background-color: rgb(105, 107, 0);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}

.no1{
    text-align: center;
    background-color: rgb(225, 206, 255);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
    float: inline-start;
}
.no2{
    text-align: center;
    background-color: rgb(102, 146, 144);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}

.no3{
    text-align: center;
    background-color: rgb(255, 206, 160);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no4{
    text-align: center;
    background-color: rgb(255, 145, 145);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no5{
    text-align: center;
    background-color: rgb(184, 255, 178);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no6{
    text-align: center;
    background-color: rgb(59, 53, 68);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no7{
    text-align: center;
    background-color: rgb(0, 23, 99);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no8{
    text-align: center;
    background-color: rgb(126, 61, 0);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no9{
    text-align: center;
    background-color: rgb(144, 155, 0);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no10{
    text-align: center;
    background-color: rgb(0, 134, 112);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no11{
    text-align: center;
    background-color: rgb(17, 0, 248);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}
.no12{
    text-align: center;
    background-color: rgb(255, 0, 0);
    border: 3px solid rgb(0, 0, 0);
    border-width: 2px;
}